<div id="page_content" class="page-content" ng-class="">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <span><b class="glyphicon glyphicon-facetime-video"></b> {{active_camera['name']}}</span>
                <div class="pull-right" ng-if="active_camera.broswer!='chrome'">
                    <a ng-if="userCPU=='Bit64'" href="static/player/vlc-2.2.6-win64.exe" > <b class="glyphicon glyphicon-expand"></b> 播放器下載 </a>
                    <a ng-if="userCPU=='Bit32'" href="static/player/vlc-2.2.4-win32.exe" > <b class="glyphicon glyphicon-expand"></b> 播放器下載 </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <!--<OBJECT width="800" height="450">-->
                <!--<param name="AutoLoop" value="0" />-->
                <!--<param name="AutoPlay" value="-1" />-->
                <!--<param name="Toolbar" value="0">-->
                <!--<param name="ExtentWidth" value="21167">-->
                <!--<param name="ExtentHeight" value="11906">-->
                <!--<param name="MRL" value="rtsp://admin:admin12345@10.157.229.185/h264/ch1/main">-->
                <!--<param name="Visible" value="-1">-->
                <!--<param name="Volume" value="50">-->
                <!--<param name="StartTime" value="0">-->
                <!--<param name="BaseURL" value="unsaved:///new_page_1.htm">-->
                <!--<param name="BackColor" value="0">-->
            <!--</OBJECT>-->
            <div class="row">
                <div id="camera_container" class="col-sm-9 col-xs-12 text-center">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group query-form" style="position:relative;width:100%;" ng-show="liveVideo">
                        <label class="control-label">請輸入開始時間</label>
                        <input ng-model="datetime" type="text" class="form-control form_datetime" placeholder="格式:2017-01-01 10:00:00">
                        <label class="control-label">請輸入時長(/分鐘)</label>
                        <input ng-model="minutes" type="text" class="form-control" placeholder="">
                        <button type="button" ng-click="getHistoryVideo()" class="btn btn-info btn-block" style="margin-top:15px;" ng-show="!videoLoading">開始回放</button>
                        <span class="btn btn-info btn-block grad-color" style="margin-top:15px;" ng-show="videoLoading" >正在載入...</span>
                    </div>
                    <button type="button" ng-click="getLiveVideo()" class="btn btn-info btn-block " style="margin-top:15px;" ng-show="!liveVideo">返回實時監控</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        autoclose: true
    });
</script>
