<div id="page_content" class="page-content" ng-class="">
    <a class="back-btn" style=""><i class="fa fa-arrow-circle-left"></i> </a>
    <ol class="breadcrumb">
        <li>協同工作管理</li>
        <li class="current">流程配置<a class="fresh-btn" href="javascript:frameRefresh(this);"><i class="fa fa-refresh"></i></a></li>
    </ol>
    <div class="">
        <div class="title">
            <!--<span><i class="fa fa-magnet"></i> 工作流</span>-->
            <a href="#/workflow/add" ng-if="userData.my_auth.data['#/workflow/add']" class="btn btn-default btn-info btn-radius pull-right" style="margin-bottom:15px;"><i class="fa fa-plus"></i> 創建模板</a>
        </div>
    </div>
    <div ng-if="_data" class="table-container" my-Table fields="no,name,start,end,nodes_qty,creator,date"
    headers="序號,名稱,起始節點,結束節點,節點數量,創建人,狀態,創建日期,操作"
    filter="false" search="true" action="false"></div>
    <div class="table-container" >
        <div ng-if="datas" ng-controller="tableCtrl">
            <div class="table-header">
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12 pull-left">
                        <div class="form-group search-group">
                            <input type="text" id="keyword" class="form-control" ng-keyup="keyUpSearch($event)" placeholder="請輸入搜索關鍵字">
                            <button class="btn btn-default search-btn search-btn_click" ng-click="dataSearch()" ><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-responsive table-striped table-hover table-bordered text-center" style="table-layout: fixed;">
                <thead>
                <tr >
                    <th class="text-center">序號</th>
                    <th class="text-center">名稱</th>
                    <th class="text-center">起始節點</th>
                    <th class="text-center">結束節點</th>
                    <th class="text-center">節點數量</th>
                    <th class="text-center">創建人</th>
                    <th class="text-center">狀態</th>
                    <th class="text-center">創建時間</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in data">
                    <td >{{ $index+1 }}</td>
                    <td ><a href="#/workflow/{{x.id}}">{{x.name}}</a></td>
                    <td >{{x.start}}</td>
                    <td >{{x.end}}</td>
                    <td >{{x.len}}</td>
                    <td >{{x.founder}}({{x.username}})</td>
                    <td >
                        <span ng-if="x.enabled==1" title="生效"><i class="fa fa-check " style="color: #31b0d5"></i></span>
                        <span ng-if="x.enabled==0" title="失效"><i class="fa fa-remove" style="color: #ff1717"></i></span>
                        <span ng-if="x.enabled==9" title="草稿"><i class="fa fa-edit" style="color:#ff5252;"></i></span>
                    </td>
                    <td >{{x.rectime}}</td>
                    <td >
                        <!--<button ng-if="x.enabled==9" class="btn btn-danger btn-xs " data-id="{{x.id}}" ng-click="delWorkFlows($event)">刪除</button>-->
                        <button ng-if="x.enabled==9" type="button" ng-click="workFlowStatus($event,x.id,1)" class="btn btn-info btn-xs ng-scope" style="border-width:0;" title="啓用">啓用</button>
                        <button ng-if="x.enabled==0" type="button" ng-click="workFlowStatus($event,x.id,1)" class="btn btn-info btn-xs ng-scope" style="border-width:0;" title="啓用">啓用</button>
                        <button ng-if="x.enabled==1" type="button" ng-click="workFlowStatus($event,x.id,0)" class="btn btn-warning btn-xs ng-scope" style="border-width:0;" title="禁用">禁用</button>
                        <button type="button" ng-click="deleteWorkflow(x.id)" class="btn btn-danger btn-xs" style="border-width:0;" >刪除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="width:100%;padding:55px;background-color: #fff;" ng-if="!data.length">
                <h3 class="text-center">對不起！沒有您想要的結果！
                </h3>
            </div>
            <div class="table-footer" style="margin-top:15px;">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"></div>
                    <div class="col-sm-6 col-xs-12 text-center">
                        <ul class="pagination">
                            <li ng-hide="activePage==0"><a ng-click="changePage('first')">首頁</a></li>
                            <li ng-hide="activePage==0"><a ng-click="changePage('prev')">上頁</a></li>
                            <!--<li ><a ng-show="activePage>pageArr.length-3 && pageArr.length>3">......</a></li>-->
                            <li ng-repeat="p in pageArr" ng-show="$index<=activePage+2 && $index>=activePage-2" ng-class="{true: 'active', false: ''}[$index==activePage]"><a ng-click="changePage($index)">{{p+1}}</a></li>
                            <!--<li><a ng-show="activePage<2 && pageArr.length>3">......</a></li>-->
                            <li ng-hide="activePage==pageArr.length-1"><a ng-click="changePage('next')">下頁</a></li>
                            <li ng-hide="activePage==pageArr.length-1"><a ng-click="changePage('last')">尾頁</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group text-right">
                            <label class="control-label">共 {{dataCount}} 條記錄</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>