<div ng-controller="tableCtrl">
    <div class="table-header">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-12 pull-right" ng-if="filter=='true'">
                <select  class="form-control" ng-if="tableName=='forms'" ng-model="filterKey" ng-change="changeFormType(filterKey)">
                    <option value="0">待我簽核的單</option>
                    <option value="1">我發起的單</option>
                    <option value="2">我簽核的單</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12 pull-left" ng-if="search=='true'">
                <div class="form-group search-group">
                    <input type="text" id="keyword" class="form-control" placeholder="請輸入搜索關鍵字" ng-keyup="myKeyup($event)">
                    <button class="btn btn-default search-btn search-btn_click" ng-click="dataSearch(this)" ><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-12" ng-if="dateFilter=='true'"  >
                <div class="form-group">
                    <div class="col-xs-5" style="padding-right:0">
                        <div class="input-group">
                            <input id="date1" class="form-control" my-Date type="text" ng-model="startDate" placeholder="開始日期" ng-change="filterDate(startDate,endDate)">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                        </div>
                    </div>
                    <div class="col-xs-1 text-center">
                        <span>~</span>
                    </div>
                    <div class="col-xs-5" style="padding-left:0">
                        <div class="input-group">
                            <input id="date2" class="form-control" my-Date type="text" ng-model="endDate" placeholder="結束日期" ng-change="filterDate(startDate,endDate)">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-responsive table-striped table-hover table-bordered text-center" style="table-layout: fixed;">
        <thead>
        <tr >
            <th ng-repeat="h in headers" class="text-center">{{h}}</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr ng-repeat="x in datas.activePageData" data-id="{{x.id}}" ng-if="tableName=='funcs'">-->
            <!--<td>{{$index+1}}</td>-->
            <!--<td >{{x.name}}</td>-->
            <!--<td >{{x.code}}</td>-->
            <!--<td >{{x.full_code}}</td>-->
            <!--<td >{{x.parent_code}}</td>-->
            <!--<td >{{x.desc}}</td>-->
            <!--<td >{{x.desc2}}</td>-->
            <!--<td >{{x.is_active}}</td>-->
            <!--<td>{{x.create_date}}</td>-->
            <!--<td><button class="table_btn edit"  ng-click="editFunc($event)"></button></td>-->
            <!--&lt;!&ndash;<td><button class="btn btn-info btn-xs" ng-click="editFunc($event)"><i class="fa fa-edit"></i> </button> </td>&ndash;&gt;-->
        <!--</tr>-->

        <tr ng-repeat="x in datas.activePageData" data-id="{{x.id}}" ng-if="tableName=='allmessage'">
           <td class="i-check">
                <input type="checkbox"
                        class="red_check" >
                <label style="top:7px;"></label>
            </td>
            <td style="width: 50%"><span class="fa fa-envelope-o" style="color: #0AA38F"></span> {{x.no}}</td>
            <td style="width: 10%">{{x.submitor}}</td>
            <td style="width: 10%">{{x.date}}</td>
            <td style="width: 10%">{{x.type}}</td>
            <td style="width: 10%">{{x.state}}</td>
        </tr>
        <!--<tr ng-repeat="x in datas.activePageData" ng-if="tableName=='forms'">  &lt;!&ndash; 表单签核 &ndash;&gt;-->
            <!--<td class="i-check">-->
                <!--<input type="checkbox" ng-if="filterKey=='0'"-->
                       <!--id="inlineCheckbox{{x.id}}" class="red_check" ng-click="getWorkflow($event,x.wrecord_id)">-->
                <!--<label ng-if="filterKey=='0'" for="inlineCheckbox{{x.id}}" ></label>-->
            <!--</td>-->
            <!--<td ><a href="#/form:{{x.id}}">{{x.card_id}}</a></td>-->
            <!--<td >{{x.name}}</td>-->
            <!--<td >{{x.apply.applicant_id}}({{x.apply.applicant_name}})</td>-->
            <!--<td ><a title="{{x.approver_name.toString()}}">{{x.approver_name.toString()}}</a></td>-->
            <!--<td >{{x.wrecord__create_time}}</td>-->
            <!--<td >{{x.time}}</td>-->
            <!--<td >-->
                <!--<span ng-if="x.action == '未簽核'">-->
                    <!--<button ng-if="userData.info.name==x.apply.applicant_id"-->
                         <!--ng-click="sendMsg($event,x.id)" type="button" class="table_btn reminder"></button>-->
                <!--</span>-->
                <!--<span ng-if="x.action != '未簽核'"></span>-->
            <!--</td>-->
            <!--&lt;!&ndash;<td ><button ng-click="sendMsg($event)" type="button" class="table_btn reminder"></button> </td>&ndash;&gt;-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" ng-if="tableName=='tasks'">-->
            <!--&lt;!&ndash;<td><input type="checkbox" ng-if="x.node==userData.info.name"> </td>&ndash;&gt;-->
            <!--<td ><a href="#/task:{{x.no}}">{{x.no}}</a></td>-->
            <!--<td >{{x.name}}</td>-->
            <!--<td >{{x.id}}({{x.submitor}})</td>-->
            <!--<td >{{x.date}}</td>-->
            <!--<td >{{x.state}}</td>-->
            <!--<td >{{x.node}}</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" ng-if="tableName=='beAgented'">&lt;!&ndash; 我代理的记录 &ndash;&gt;-->
            <!--<td >{{$index+1}}</td>-->
            <!--<td >{{x.jon}}</td>-->
            <!--<td >{{x.name}}</td>-->
            <!--<td >{{x.rectime}}</td>-->
            <!--<td >{{x.org}}</td>-->
            <!--<td >{{x.start}}</td>-->
            <!--<td >{{x.end}}</td>-->
            <!--<td >{{x.status}}</td>-->
            <!--<td >-->
                <!--<button ng-if="x.status == '待簽核'" class="btn btn-info btn-xs" data-id="{{x.id}}" ng-click="updateAgentUser($event,x.id,'true')">同意</button>-->
                <!--<button  ng-if="x.status == '待簽核'" class="btn btn-danger btn-xs" data-id="{{x.id}}" ng-click="updateAgentUser($event,x.id, 'false')">駁回</button>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" ng-if="tableName=='agented'"> &lt;!&ndash; 我的代理记录 &ndash;&gt;-->
            <!--<td >{{$index+1}}</td>-->
            <!--<td >{{x.rectime}}</td>-->
            <!--<td >{{x.org}}</td>-->
            <!--<td >{{x.jon}}</td>-->
            <!--<td >{{x.name}}</td>-->
            <!--<td >{{x.start}}</td>-->
            <!--<td >{{x.end}}</td>-->
            <!--<td >{{x.status}}</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" ng-if="tableName=='agentUsers'">-->
            <!--<td >{{$index+1}}</td>-->
            <!--<td >{{x.jon}}({{x.name}})</td>-->
            <!--<td >{{x.org}}</td>-->
            <!--<td >{{x.agent_jon}}</td>-->
            <!--<td >{{x.agent_name}}</td>-->
            <!--<td >{{x.rectime}}</td>-->
            <!--&lt;!&ndash;<td >{{x.update}}</td>&ndash;&gt;-->
            <!--<td >-->
                <!--&lt;!&ndash;<button class="btn btn-info btn-xs" data-id="{{x.id}}" ng-click="updateAgentUser($event)"><i data-id="{{x.id}}" class="fa fa-edit"></i></button>&ndash;&gt;-->
                <!--<button class="btn btn-danger btn-xs" data-id="{{x.id}}" ng-click="delAgentUser($event,x.id)"><i data-id="{{x.id}}" class="fa fa-remove"></i></button>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" ng-if="tableName=='report'">-->
            <!--<td>{{$index+1}}</td>-->
            <!--<td ><a href="#/reportforms/{{x.types}}">{{x.name}}</a></td>-->
            <!--<td >{{x.starttime}}</td>-->
            <!--<td >{{x.endtime}}</td>-->
            <!--<td >{{x.time | number:2}}</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" ng-if="tableName=='reportMenber'">-->
            <!--<td >{{x.approver_record}}</td>-->
            <!--<td ><a href="#/reportmenbers/{{x.approver_record}}?{{x.typeid}}">{{x.name}}</a></td>-->
            <!--<td >{{x.typename}}</td>-->
            <!--<td >{{x.starttime}}</td>-->
            <!--<td >{{x.starttime}}</td>-->
            <!--<td >{{x.time | number:2}}h</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" ng-if="tableName=='Reforms'">-->
            <!--<td >{{x.typename}}</td>-->
            <!--<td >{{x.name}}</td>-->
            <!--<td >{{x.starttime}}</td>-->
            <!--<td >{{x.endtime}}</td>-->
            <!--<td >{{x.time | number:2}}h</td>-->
            <!--&lt;!&ndash;<td ><div class="progress progress-striped"  style="height: 16px;">&ndash;&gt;-->
                 <!--&lt;!&ndash;<div class="progress-bar progress-bar-warning" role="progressbar"&ndash;&gt;-->
		         <!--&lt;!&ndash;aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">&ndash;&gt;-->
		        <!--&lt;!&ndash;<span class="sr-only">40%</span></div></div>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" ng-if="tableName=='Remenbers'">-->
            <!--<td >{{x.name}}</td>-->
            <!--<td >{{reportmenbersCtrl_id}}</td>-->
            <!--<td >{{x.typename}}</td>-->
            <!--<td >{{x.starttime}}</td>-->
            <!--<td >{{x.endtime}}</td>-->
            <!--<td >{{x.time | number:2}}h</td>-->
            <!--&lt;!&ndash;<td ><div class="progress progress-striped" style="height: 16px;">&ndash;&gt;-->
                 <!--&lt;!&ndash;<div class="progress-bar progress-bar-danger" role="progressbar"&ndash;&gt;-->
		         <!--&lt;!&ndash;aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">&ndash;&gt;-->
		        <!--&lt;!&ndash;<span class="sr-only">75%</span></div></div>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" data-id="{{x.id}}" ng-if="tableName=='tmpls'">-->
            <!--<td>{{$index+1}}</td>-->
            <!--<td >{{x.table_type__forms_type}}</td>-->
            <!--<td ><a href="#/tmpl:{{x.id}}&type=preview">{{x.table_name}}</a> </td>-->
            <!--<td >{{x.version}}</td>-->
            <!--<td id="{{x.id}}">{{x.status_name}}</td>-->
            <!--<td >-->
                <!--<button ng-if="x.status==1" type="button" ng-click="tmplStatus($event,x.id,0)" class="btn btn-danger btn-xs" style="border-width:0;">禁用</button>-->
                <!--<button ng-if="x.status!=1" type="button" ng-click="tmplStatus($event,x.id,1)" class="btn btn-info btn-xs" style="border-width:0;">启用</button>-->
                <!--<button type="button" ng-click="deleteTmpl(x.id)" class="btn btn-danger btn-xs" style="border-width:0;">刪除</button>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" ng-if="tableName=='organize'">-->
            <!--<td >{{x.name}}</td>-->
            <!--<td >{{x.id}}</td>-->
            <!--<td >{{x.duty}}</td>-->
            <!--<td >{{x.factory}}</td>-->
            <!--<td >{{x.part}}</td>-->
            <!--<td >{{x.framework}}</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" ng-if="tableName=='users'">-->
            <!--<td>{{$index+1}}</td>-->
            <!--<td >{{x.user[0][1]}}</td>-->
            <!--<td >{{x.user[0][2]}}</td>-->
            <!--<td ><span ng-repeat="y in x.role">{{y[1]}}<span ng-if="!$last">,</span></span></td>-->
            <!--<td>-->
                <!--<button class="table_btn edit"  ng-click="editUser(x.user[0][0])"></button>-->
                <!--<button class="table_btn delete"  ng-click="deleteUser(x.user[0][0])"></button>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" data-id="{{x.id}}" ng-if="tableName=='roles'">-->
            <!--<td style="width:15%">{{$index+1}}</td>-->
            <!--<td style="width:15%">{{x.role_name}}</td>-->
            <!--<td style="width:35%">{{x.role_desc}}</td>-->
            <!--<td style="width:15%">{{x.create_date}}</td>-->
            <!--<td style="width:15%">{{x.is_active}}</td>-->
            <!--<td style="width:15%">-->
                <!--<button class="table_btn edit" style="" ng-click="editRole(x.id)"></button>-->
                <!--<button class="table_btn delete" style="" ng-click="deleteRole(x.id)"></button>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr ng-repeat="x in datas.activePageData" ng-if="tableName=='workflows'">-->
            <!--<td >{{ $index+1 }}</td>-->
            <!--<td ><a href="#/workflow/{{x.id}}">{{x.name}}</a></td>-->
            <!--<td >{{x.start}}</td>-->
            <!--<td >{{x.end}}</td>-->
            <!--<td >{{x.len}}</td>-->
            <!--<td >{{x.founder}}({{x.username}})</td>-->
            <!--<td >-->
                <!--<span ng-if="x.enabled==1" title="生效"><i class="fa fa-check " style="color: #31b0d5"></i></span>-->
                <!--<span ng-if="x.enabled==0" title="失效"><i class="fa fa-remove" style="color: #ff1717"></i></span>-->
                <!--<span ng-if="x.enabled==9" title="草稿"><i class="fa"></i>草稿</span>-->
            <!--</td>-->
            <!--<td >{{x.rectime}}</td>-->
            <!--<td >-->
                <!--&lt;!&ndash;<button ng-if="x.enabled==9" class="btn btn-danger btn-xs " data-id="{{x.id}}" ng-click="delWorkFlows($event)">刪除</button>&ndash;&gt;-->
                <!--<button ng-if="x.enabled==9" type="button" ng-click="workFlowStatus($event,x.id,1)" class="btn btn-info btn-xs ng-scope" style="border-width:0;" title="啓用">啓用</button>-->
                <!--<button ng-if="x.enabled==0" type="button" ng-click="workFlowStatus($event,x.id,1)" class="btn btn-info btn-xs ng-scope" style="border-width:0;" title="啓用">啓用</button>-->
                <!--<button ng-if="x.enabled==1" type="button" ng-click="workFlowStatus($event,x.id,0)" class="btn btn-warning btn-xs ng-scope" style="border-width:0;" title="禁用">禁用</button>-->
                <!--<button type="button" ng-click="deleteWorkflow(x.id)" class="btn btn-danger btn-xs" style="border-width:0;" >刪除</button>-->
            <!--</td>-->
        <!--</tr>-->
        <tr ng-repeat="x in datas.activePageData" ng-if="tableName=='wfroles'">
            <td >{{ $index+1 }}</td>
            <td >{{x.role}}</td>
            <td>{{x.desc}}</td>
            <td></td>
            <td >
                <button class="btn btn-info btn-xs" data-id="{{x.id}}" ng-click="editWFRole($event)"><i data-id="{{x.id}}" class="fa fa-edit"></i></button>
                <button class="btn btn-danger btn-xs" data-id="{{x.id}}" ng-click="deleteWFRole($event)"><i data-id="{{x.id}}" class="fa fa-remove"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="width:100%;padding:55px;background-color: #fff;" ng-if="!datas.totalColumns">
        <h3 class="text-center">對不起！沒有您想要的結果！
        </h3>
    </div>
    <div class="table-footer" style="margin-top:15px;">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <div class="form-group" ng-if="tableName=='forms'" ng-show="filterKey==0">
                    <!--<button type="button" class="btn btn-default btn-default">全选</button>-->
                    <button type="button" class="btn btn-default btn-info" ng-click="batchCheck($event,'pass')">同意</button>
                    <button type="button" class="btn btn-default btn-danger" ng-click="batchCheck($event,'reject')">駁回</button>
                </div>
                <div class="form-group" ng-if="tableName=='tasks'" ng-show="filterKey=='node'">
                    <button type="button" class="btn btn-default btn-info">同意</button>
                    <button type="button" class="btn btn-default btn-danger">駁回</button>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 text-center">
                <ul class="pagination">
                    <li><a ng-click="activePage($event)">首頁</a></li>
                    <li><a ng-click="activePage($event)">上頁</a></li>
                    <li ng-repeat="p in datas.pages" ng-show="p.show"><a  ng-class="{active:p['active']}" ng-click="activePage($event)">{{p.id+1}}</a></li>
                    <li><a ng-click="activePage($event)">下頁</a></li>
                    <li><a ng-click="activePage($event)">尾頁</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="form-group text-right">
                    <label class="control-label">共 {{datas.totalColumns}} 條記錄</label>
                </div>
            </div>
        </div>
    </div>
</div>