<div id="page_content" class="page-content" id="password" ng-style="myStyle"
     style="background-image: url(static/image/introduce_bg.png);  background-position: center;  background-repeat: no-repeat; background-size: cover;">
    <div id="page_box" class="page-box form-horizontal"
         style="background-color: transparent;">
        <ol class="breadcrumb">
            <li style="font-size: 16px;color: red;">修改密碼</li>
        </ol>
        <div style="width: 500px;position: absolute;top: 30%;left: 50%;margin-left: -250px;border: 1px solid #00cccc;padding: 2% 80px;-webkit-box-shadow:0 0 10px rgba(0, 204, 204, .5);-moz-box-shadow:0 0 10px rgba(0, 204, 204, .5);box-shadow:0 0 10px rgba(0, 204, 204, .5);">
            <h2 style="margin-bottom: 30px;text-align: center;color: #ec5656;">修改密碼</h2>
            <form action="">
                <div class="form-group">
                    <label class="col-sm-3 col-xs-12 control-label text-center">工號</label>
                    <div class="col-sm-8 col-xs-12 ">
                        <input type="text" ng-model="change_password_.id" class="form-control form-control-val">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-xs-12 control-label text-center">原密碼</label>
                    <div class="col-sm-8 col-xs-12 ">
                        <input type="text" ng-model="change_password_.oldpassword" class="form-control form-control-val">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-xs-12 control-label text-center">新密碼</label>
                    <div class="col-sm-8 col-xs-12 ">
                        <input type="text" ng-model="change_password_.newpassword" class="form-control form-control-val">
                    </div>
                </div>
                   <div class="form-group">
                    <label class="col-sm-3 col-xs-12 control-label text-center">確認新密碼</label>
                    <div class="col-sm-8 col-xs-12 ">
                        <input type="text" ng-model="change_password_.newpassword2" class="form-control form-control-val">
                    </div>
                </div>
                <div class="form-group text-center" style="position: relative;top:15px;">

                    <a class="btn btn-danger submit_form_code" ng-click="change_password_sevel()"><i class="fa fa-check"></i> 確定</a>
                    <button type="reset" class="btn btn-default"><i class="fa fa-circle-o-notch"></i> 取消</button>

                </div>

        </form>
    </div>
</div>

</div>


