<div id="page_content" class="page-content" id="password" ng-style="myStyle" style="background-image: url(static/image/introduce_bg.png);  background-position: center;  background-repeat: no-repeat; background-size: cover;">
    <div id="page_box" class="page-box form-horizontal"
         style="background-color: transparent;">
        <ol class="breadcrumb">
            <li style="font-size: 16px;color: red;">找回密碼</li>
        </ol>
        <div style="width: 500px;position: absolute;top: 30%;left: 50%;margin-left: -250px;border: 1px solid #00cccc;padding: 2% 80px;-webkit-box-shadow:0 0 10px rgba(0, 204, 204, .5);-moz-box-shadow:0 0 10px rgba(0, 204, 204, .5);box-shadow:0 0 10px rgba(0, 204, 204, .5);">
            <h2 style="margin-bottom: 30px;text-align: center;color: #ec5656;">找回密碼</h2>
            <form action="">
            <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label text-center">工號</label>
                <div class="col-sm-8 col-xs-12 ">
                    <input type="text" ng-model="menber_id" class="form-control form-control-val">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label text-center">郵箱</label>
                <div class="col-sm-8 col-xs-12 ">
                    <input type="text" ng-model="menber_email" class="form-control form-control-val">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label text-center">驗證碼</label>
                <div class="col-sm-8 col-xs-12 ">
                    <input type="text" ng-model="menber_code_num" class="form-control form-control-val">
                </div>
                <div class="col-sm-1 col-xs-12 text-right" style="padding: 0px;">
                    <button style="margin-right:180px;" ng-click="send_code($event)" class="btn btn-danger time_out_button"><a style="color: #fff;">{{timer_}}</a>
                    </button>
                </div>
           <div class="form-group text-center" style="position: relative;top:15px;">
                <button type="reset" class="btn btn-default"><i class="fa fa-circle-o-notch"></i> 重置</button>
                <a class="btn btn-danger submit_form_code" ng-click="submit_form()" disabled="true"><i class="fa fa-check"></i> 立即找回</a>

            </div>
            </div>
            </form>
        </div>
    </div>

</div>


