<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基準烽火雲台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link type="text/css" rel="stylesheet" href="../../staticP/css/tab-control.min.css" />
    <link rel="stylesheet" type="text/css" href="../../staticP/plugin/bootstrap-3.3.0-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../staticP/css/app.css" type="text/css">
    <link rel="stylesheet" href="../../staticP/css/info.css" type="text/css">
</head>
<style>

</style>
<body>

<div class="user-info" >
    <div class="user-image text-center" >
        <a href="#/info">
            <img src="" onerror="javascript:this.src='static/image/headimg.jpg';" class="img-circle">
        </a>
    </div>
    <p class="user-time text-center" style="margin: 0">
        <b class="user-name text-center"  style="color: #98a6ad;">
            F1330314(周心有)
        </b>
    </p>
    <p class="user-time text-center" style="color:#55c2b5">
        <b class="glyphicon glyphicon-time"></b> 2017/7/11 下午3:26:28

    </p>
</div>
<div class="sidebar-box" style="">
    <ul class="user-group" style=" ">
        <li style="width:105px;">系统菜單</li>
        <li style="width:105px;">我的菜單</li>
    </ul>
    <div style="">
        <div  class="sidebar" style="">
            <ul id="mymenu" class="page-nav" style="">
                <li class="text-left" style="">
                    <a href="javascript:TabControlAppend('1', '協同工作平台', 'http://10.167.1.148/ST');" style="">
                        <span>協同工作平台</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidebar">
            <div style="background-color: #1a1a1a">
                <p class="nav-title ng-binding">系统基础管理</p>
                <ul class="page-nav">
                    <li>
                        <!--<a onclick="primaryMenuToggle(this)">-->
                        <!--<span class="{{y.icon}}"></span>-->
                        <!--<span id="OA-1">{{y.name}}</span>-->
                        <!--<span class="plus"><i class="fa fa-plus"></i></span>-->
                        <!--<span class="minus"><i class="fa fa-minus"></i></span>-->
                        <!--</a>-->
                        <ul class="sidebar-collapse">
                            <li>
                                <a href="javascript:TabControlAppend('1', 'Dashboard', 'http://10.167.1.148/ST/#/dashborad');" >
                                    Dashboard
                                </a>
                            </li>
                            <li >
                                <a href="javascript:TabControlAppend('2', '组织维护', 'http://10.167.1.148/ST/#/organize');">组织维护
                                </a>
                            </li>
                            <li >
                                <a href="javascript:TabControlAppend('3', '角色授权', 'http://10.167.1.148/ST/#/users');">角色授权
                                </a>
                            </li>
                            <li >
                                <a href="javascript:TabControlAppend('4', '角色定义', 'http://10.167.1.148/ST/#/roles');">角色定义
                                </a>
                            </li>
                            <li>
                                <a href="javascript:TabControlAppend('5', 'Dashboard', 'http://10.167.1.148/ST/#/dashborad');" >
                                    Dashboard
                                </a>
                            </li>
                            <li >
                                <a href="javascript:TabControlAppend('6', '组织维护', 'http://10.167.1.148/ST/#/organize');">组织维护
                                </a>
                            </li>
                            <li >
                                <a href="javascript:TabControlAppend('7', '角色授权', 'http://10.167.1.148/ST/#/users');">角色授权
                                </a>
                            </li>
                            <li >
                                <a href="javascript:TabControlAppend('8', '角色定义', 'http://10.167.1.148/ST/#/roles');">角色定义
                                </a>
                            </li><li>
                            <a href="javascript:TabControlAppend('9', 'Dashboard', 'http://10.167.1.148/ST/#/dashborad');" >
                                Dashboard
                            </a>
                        </li>
                            <li >
                                <a href="javascript:TabControlAppend('10', '组织维护', 'http://10.167.1.148/ST/#/organize');">组织维护
                                </a>
                            </li>
                            <li >
                                <a href="javascript:TabControlAppend('11', '角色授权', 'http://10.167.1.148/ST/#/users');">角色授权
                                </a>
                            </li>
                            <li >
                                <a href="javascript:TabControlAppend('12', '角色定义', 'http://10.167.1.148/ST/#/roles');">角色定义
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript" src="../../staticP/plugin/jquery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../../staticP/js/tab-control.min.js"></script>
</body>
</html>